.section-tittle .tittle-top {
    font-size: 2rem;
    margin-bottom: 30px;
}

.section-tittle > span {
    font-size: 1.5rem;
}

.section-text {
    font-size: 20px;
}

.section-text > img {
    margin-left: 250px;
    margin-bottom: 50px;
}